.all-skills {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(201, 200, 200);
  border: 2px solid rgb(0, 153, 255);
  border-radius: 18px;
}

.title-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  color: white;
  font-size: 120px;
}

.abilities {
  display: flex;
  justify-content: center;
  color: rgb(0, 153, 255);
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-weight: 900;
  margin-top: 100px;
}

.skill-item,
.skill-item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 120px;
  margin: 10px;
  padding: 10px;
}

.skill-item {
  margin-bottom: 10px;
}

.skill-icon {
  width: 50px;
  height: 50px;
  border: 2px rgb(14, 14, 66) solid;
  background-color: rgb(59, 59, 56);
  padding: 10px;
  border-radius: 18px;
  transition: transform 0.3s; 
  cursor: pointer;
}

.skill-icon:hover {
  transform: scale(1.2);
}

.skill-name {
  margin-top: 5px;
  font-weight: 700;
}
